# https://kotlinlang.org/docs/coding-conventions.html
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_packages_to_use_import_on_demand_threshold = 999
ij_kotlin_name_count_to_use_star_import = 999

[*.md]
trim_trailing_whitespace = false

[gradlew.bat]
end_of_line = crlf
